<template>
  <div id=page-feed>
    <c-imagem v-for="c of images"
      :id=c._id
      :url=c.url
      :author=c.author
      :key=c._id
      :upvotes=c.upvotes
      :downvotes=c.downvotes
      :payments=c.payments
      @click=open(c._id)
    />
  </div>
</template>
<script>
import {useRouter} from 'vue-router'
import {useStore} from 'vuex'
import {computed} from 'vue'
export default {
  setup() {
    const router = useRouter()
    const open = id => {
      router.push({name: 'imagem', params: {id}})
    }

    const store = useStore()
    const images = computed(() => store.getters.images)

    return {
      open,
      images,
    }
  }
}
</script>
<style lang=stylus>
#page-feed {
  display flex
  flex-wrap wrap
  justify-content center
  & > .imagem {
    float right
    margin-left 12px
    margin-right @margin-left
  }
}
</style>
