<template>
  <div id=page-imagem>
    <c-imagem big v-if=image
      :id=image._id
      :url=image.url
      :author=image.author
      :key=image.id
      :upvotes=image.upvotes
      :downvotes=image.downvotes
      :payments=image.payments
    />
  </div>
</template>
<script>
import {useStore} from 'vuex'
import {computed} from 'vue'
import {useRoute} from 'vue-router'
import {onMounted, onUnmounted} from 'vue'
import {watchEffect} from 'vue'
export default {
  setup() {
    const route = useRoute()
    const store = useStore()

    const image = computed(() => {
      const {id} = route.params
      return store.getters.images.find(x => x._id == id)
    })

    // monetização!
    if (document.monetization) {
      console.warn('Web Monetization is enabled!')
      let stopMonetizing
      const progress = ev => {
        const total = Number(ev.detail.amount)
        const scale = ev.detail.assetScale
        const formatted = (total * Math.pow(10, -scale)).toFixed(scale)
        store.dispatch('pay', {id: image.value._id, value: parseFloat(formatted)})
      }
      const startMonetizing = pointer => {
        if (stopMonetizing) stopMonetizing()
        const meta = document.createElement('meta')
        meta.name = 'monetization'
        meta.content = pointer
        document.head.appendChild(meta)
        return () => meta.remove()
      }
      watchEffect(() => {
        if (image.value) stopMonetizing = startMonetizing(image.value.pointer)
      })
      onMounted(() => {
        document.monetization.addEventListener('monetizationprogress', progress)
      })
      onUnmounted(() => {
        document.monetization.removeEventListener('monetizationprogress', progress)
        if (stopMonetizing) stopMonetizing()
      })
    }
    else {
      console.warn('Web Monetization is not enabled :(')
    }

    return {
      image,
    }
  },
}
</script>
<style lang=stylus>
#page-imagem {
  display flex
  justify-content center
}
</style>
