<template>
  <img class=icon :src=src />
</template>
<script>
import {computed} from 'vue'
export default {
  props: {
    name: {required: true},
  },
  setup(props) {
    const src = computed(() => {
      const {name} = props
      if (name === 'user') return require('@/assets/user.png')
      if (name == 'upvote') return require('@/assets/upvote.png')
      if (name == 'downvote') return require('@/assets/downvote.png')
      if (name == 'upload') return require('@/assets/upload.png')
      if (name == 'payment') return require('@/assets/payment.png')
      return ''
    })

    return {src}
  }
}
</script>
<style lang=stylus>
.icon {
  width 25px
  height @width
  vertical-align middle
}
</style>
