<template>
  <div class=imagem :class={big}>
    <img class=image :src=url @click="$emit('click')"/>
    <div class=meta @click.stop>
      <p class=autor><c-icon name="user"/> {{author}}</p>
      <p class=upvote @click=upvote><c-icon name="upvote"/> {{upvotes}}</p>
      <p class=downvote @click=downvote><c-icon name="downvote"/> {{downvotes}}</p>
      <p class=payment><c-icon name="payment"/> {{payments.toFixed(3)}}</p>
    </div>
  </div>
</template>
<script>
import {useStore} from 'vuex'
export default {
  props: {
    id: String,
    big: Boolean,
    url: String,
    author: String,
    upvotes: Number,
    downvotes: Number,
    payments: Number,
  },
  setup(props) {
    const store = useStore()
    const upvote = () => store.dispatch('upvote', props.id)
    const downvote = () => store.dispatch('downvote', props.id)

    return {
      upvote,
      downvote,
    }
  },
}
</script>
<style lang=stylus>
.imagem {
  background-color #9d7ea5
  margin-bottom 24px

  display flex
  flex-direction column
  justify-content center
  max-width 500px
  padding 2px
  width 100%
  &.big {
    max-width 900px
  }
  .image {
    width 100%
  }
  .meta {
    padding-left 18px
    padding-right @padding-left
    display flex
    justify-content space-between
    cursor default
    user-select none
    p {
      cursor pointer
    }
  }
}
</style>
