<template>
  <div class=menu>
    <button class=upload>
      <label for=file><c-icon name=upload /></label>
      <input class=input-file type=file id=file @change=change ref=file />
    </button>
  </div>
</template>
<script>
import {ref} from 'vue'
import {useStore} from 'vuex'
export default {
  setup() {
    const store = useStore()
    const file = ref(null)
    const handlefile = () => {
      if (!file.value.files[0]) return;
      const reader = new FileReader()
      reader.onload = e => {
        const url = e.target.result
        store.dispatch('create', url)
      }
      reader.readAsDataURL(file.value.files[0])
    }

    return {
      file,
      change: handlefile
    }
  }
}
</script>
<style lang=stylus>
.menu {
  top 0
  left 0
  width 100%
  height 60px
  position fixed
  background-color #9999f7
  display flex
  justify-content flex-end
  align-items center
  .upload,label {
    margin-right 25px
    background-color transparent
    border none
    user-select none
    cursor pointer
  }
  label {
    margin-right 0
  }
  .icon {
    height 25px
  }
  .input-file {
    opacity 0
    width 0
    position absolute
  }
}
</style>
