<template>
  <c-menu />
  <router-view/>
</template>
<script>
import {onMounted} from 'vue'
import {useStore} from 'vuex'
export default {
  setup() {
    const store = useStore()
    onMounted(() => store.dispatch('getImages'))
  },
}
</script>
<style lang="stylus">
#app {
  font-family Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  margin-top 80px
}
</style>
